@font-face {
    font-family: 'PC Senior';
    src: url('./font/pcsenior.ttf') format('truetype');
}



@media (min-width: 768px) {
    body {
        font-family: 'PC Senior', sans-serif;
        font-size: 12px;
        margin: 0;
        padding: 0;
        background-image: url('./images/linux-plano-de-fundo.jpg');
        background-size: 100% 100%; 
        background-position: center; 
        background-attachment: fixed; 
        background-repeat: no-repeat; /* Permite que a imagem role com o conteúdo */
    }
}

@media (max-width: 768px) {
    body {
        font-family: 'PC Senior', sans-serif;
        font-size: 12px;
        margin: 0;
        padding: 0;
        background-image: url('./images/linux-plano-de-fundo.jpg');
        background-size: auto; /* Ajusta a imagem para cobrir a área, mantendo a proporção */
        background-position:bottom; 
        background-attachment: scroll; /* Permite que a imagem role com o conteúdo */
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    display: flex;
}

.container-principal {
    margin: 50px auto;
}

.caixa {
    background-color: #cfcfcf;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.itens-superiores {
    background: linear-gradient(to right, #000181, #1083cf);
    height: 40px;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #cfcfcf;
}

.botoes-superiores {
    display: flex;
    gap: 10px; /* Espaçamento entre os logos */
}

.logo {
    width: 22px; /* Preenchimento de 17px */
    background-color: #c0c0c0;
    justify-content: center;
    align-content: center;
    display: flex;
    cursor: pointer;
    /*flex: 1;*/ /* Permite que os logos cresçam igualmente */
}

.logo:active,
.botao:active {
    background-color: #9c999a;
    border: 1px solid #9c999a;
}

.relevo {
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.underline {
    line-height: 8px;
    font-size: 10px;
}

.quadrado {
    line-height: 15px;
    font-size: 20px;
}

.sair {
    font-family: sans-serif;
    line-height: 15px;
    font-weight: bold;
    font-size: 11px;
}

#titulo-janela {
    color: white;
    font-size: 14px;
    letter-spacing: -1px;
}

.marquee-container {
    width: 100%; /* Ajustar conforme necessário */
    overflow: hidden;
    background-color: #cfcfcf;
    border-top: 0px solid #000;
    border-bottom: 0px solid #000;
    flex: 1; /* Faz a área de marquee preencher o espaço restante */
    font-size: 5.5px;
}

.marquee {
    display: inline-block;
    white-space: nowrap; /* Manter todo o conteúdo em uma linha */
    animation: marquee 8s linear infinite; /* Controlar a velocidade da animação alterando o valor 15s */
}

@keyframes marquee {
    from {
        transform: translateX(160%);
    }
    to {
        transform: translateX(-100%);
    }
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
}

.itens-inferiores{
    display: flex;
}

.botao{
    border-radius: 0;
    padding: 5px;
    background-color: #cfcfcf;
    font-family: 'PC Senior', sans-serif;
    font-size: 12px;
    letter-spacing: -0.3px;
    margin: 18px 10px;
    padding: 12px 5px;
}

.espaco-vazio{
    width: 55%;
}



.frase-aleatoria{
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 20px;
}

.frase-eh{
    margin: 23px 0;
}
    